# Testando o ambiente
Trecho em markdown.
*italico*
**negrito**
```
Informação muito importante
```
Importando pacotes principais

In [5]:
import pandas as pd
import numpy as np
import seaborn as sn

In [7]:
print('Hello World!')

Hello World!

Cria um Objeto do tipo série (Series)

In [9]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [11]:
dates = pd.date_range("20220811", periods=6)
dates

DatetimeIndex(['2022-08-11', '2022-08-12', '2022-08-13', '2022-08-14',
               '2022-08-15', '2022-08-16'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2022-08-11 -0.203969 -0.305332  1.092324  1.617634
2022-08-12  1.033726 -0.235410  0.201394 -0.986403
2022-08-13 -2.884948  0.793316 -1.266105  0.670140
2022-08-14 -1.498198  1.630818 -0.284560  0.628841
2022-08-15 -0.104680  0.222411 -0.889072 -0.188861
2022-08-16  0.278323  0.679820 -0.062229  1.526897

In [14]:
df2 = pd.DataFrame(
    {
        "Nota": 1.0,
        "Data": pd.Timestamp("20130102"),
        "Média": pd.Series(1, index=list(range(4)), dtype="float32"),
        "Qtde": np.array([3] * 4, dtype="int32"),
        "Cat": pd.Categorical(["test", "train", "test", "train"]),
        "Tipo": "foo",
    }
)
df2

   Nota       Data  Média  Qtde    Cat Tipo
0   1.0 2013-01-02    1.0     3   test  foo
1   1.0 2013-01-02    1.0     3  train  foo
2   1.0 2013-01-02    1.0     3   test  foo
3   1.0 2013-01-02    1.0     3  train  foo